# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Static files
staticfiles/

# Media
media/

# Logs
logs/
*.log

# Database
db.sqlite3
backup.sql
*.sql
